/* CSS files add styling rules to your content */

.gelbe_tonne {
  background-color: yellow;
}

.gelbe_tonne:before {
  content: "🥫 ";
}


.biotonne {
  background-color: brown;
  color: white;
}

.biotonne:before {
  content: "🍕 ";
}


.restmull {
  background-color: orange;
}

.altpapier {
  background-color: red;
  color: white;
}

.altpapier:before{
  content: "📰 ";
  
  
}

.glascontainer {
  background-color: green;
  color: white;
}

.glascontainer:before {
  content: "🥂 ";
}

.mistplatz {
  
}

.restmull {
  background-color: orange;
  color: white;
  
}

.restmull:before {
  content: "🚮 "
  
}

.problemstoffsammelstelle:before {
  content: "⚠ ";
}


.rinterzelt:before {
  content: "🎪 "; 
  
}


.fachhandel:before {
  content: "🛒 ";
  
}

