/* CSS files add styling rules to your content */

.gelbe_tonne {
  background-color: yellow;
}

.gelbe_tonne:before {
  content: "🥫 ";
}


.biotonne {
  background-color: brown;
  color: white;
}

.biotonne:before {
  content: "🍕 ";
}


.restmull {
  background-color: orange;
}

.altpapier {
  background-color: red;
  color: white;
}

.altpapier:before{
  content: "📰 ";
  
  
}

.glascontainer {
  background-color: green;
  color: white;
}

.glascontainer:before {
  content: "🥂 ";
}

.mistplatz {
  
}

.restmull {
  background-color: orange;
  color: white;
  
}

.restmull:before {
  content: "🚮 "
  
}

.problemstoffsammelstelle:before {
  content: "⚠ ";
}


.rinterzelt:before {
  content: "🎪 "; 
  
}


.fachhandel:before {
  content: "🛒 ";
  
}

/*

.jumbotron {

background-image: url("https://cdn.glitch.com/ad976657-7883-4d01-98bd-409f80c2da13%2Fwien_gelbe_old.png?v=1586704400575");
  background-size: cover;
    padding: 5em inherit;
    min-height: 300px;
  color:rgb(240, 240, 240);
  font-family: 'UnifrakturMaguntia', serif;

}

*/ 